<section class="text-bg-primary bg-gradient">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <h1 class="display-3">Rails Blog</h1>
        <p>Simple blog menggunakan Ruby on Rails v7</p>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</section>
