<section class="text-bg-dark bg-gradient">
  <div class="container py-3">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <h3>About</h3>
        <p>Hanya blog engine sederhana yang dibangun menggunakan framework Ruby on Rails v7 dengan Boostrap v5.</p>
      </div>
      <div class="col">
        <h3>Sitemap</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Term of Service</a></li>
          <li><a href="/">Policy Privacy</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Contact us</h3>
      </div>
    </div>
  </div>
</section>
